Logic-Rules/Harnessing_deep_neural_networks_with_logic_rules/code/data/w2v/*
Logic-Rules/Harnessing_deep_neural_networks_with_logic_rules/code/data/stsa*
Logic-Rules/Harnessing_deep_neural_networks_with_logic_rules/code/*.ipynb
Logic-Rules/Harnessing_deep_neural_networks_with_logic_rules/code/data/*.ipynb
Logic-Rules/Harnessing_deep_neural_networks_with_logic_rules/code/data/.*
Logic-Rules/Harnessing_deep_neural_networks_with_logic_rules/code/data/_*